/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {

}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.mainContainer {
    padding: 0;
}

@media (max-width: 480px) {
  .headerTitleWithLogo {
    display: block !important;
  }
}

.ewm .blockImage {
    width: 50%;
    max-width: 100%;
}

/* book */
#book .promoSection .promoRow .pluginRowBlock {
    justify-content: left;
}
#book .mdContent {
	text-align: left;
}
@media only screen and (max-width: 735px) {
  .imageAlignSide .blockImage.miniShow {
    display: block;
    margin-right: auto;
  }

  .ewm .blockImage {
    width: 80%;
}
}

.container .wrapper h2, a {
	word-break: break-all;
}

/* donate */
.container .wrapper .donate h2 {
    text-align: center;
    font-weight: bold;
    font-size: 200%;
	word-break: break-all;
}

.container .wrapper .donate-content h3 {
    text-align: center;
    margin-bottom: 35px;
}

.container .wrapper .donate-list {
    text-align: center;
    margin: 0 auto;
}

/* blog */
.container .wrapper .blog-recommend h2 {
    text-align: center;
    font-weight: bold;
    font-size: 200%;
	word-break: break-all;
}

/* lib */
.container .wrapper .lib-title h2 {
    text-align: center;
    font-weight: bold;
    font-size: 200%;
	word-break: break-all;
}
.container .wrapper .version {
    text-align: center;
}

/* samples.js */
.showcaseSection .prose h2 {
	font-size: 30px;
    font-weight: bold;
	text-align: center;
}
.showcaseSection ol {
    list-style: none;
}
.container .wrapper h2.haveUsed {
    word-break: normal;
}
